.btn{
    padding: 20px;;
}

.btn:hover{
    background-color: blueviolet;
    cursor:pointer;
    border-radius: 20px;
}

.city:focus{
    background-color: brown;
    color:yellow;
}

.btn:before{
    content:"aitzaz";
}
.btn:after{
    content:"ahmad";
}
.container{
    width:100px;
    height:100px;
    background-color: brown;
    animation: ColorChanging 1s 0s infinite;
}
@keyframes ColorChanging {
    50%{
        background-color: brown;
    }
    60%{
        background-color: yellow;
    }
    100%{
        background-color: darkolivegreen;
    }
}

@keyframes Rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}